@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
}

.form-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 60px 20px;
}